{% extends 'base.html' %}

{% load static %}
{% block title %}カテゴリ：スイーツ{% endblock %}
{% block subtitle %}"スイーツの情報ゆる～くお届け"{% endblock %}
{% block content %}
<header class="masthead"
style="background-image: url({% static 'assets/img/sui-tu.jpg' %})"></header>
    {% for record in sweets_records %}
    <a href="{% url 'newsapp2:news_detail' record.pk %}">
        <div class="title">
            <h3><a href="{% url 'newsapp2:news_detail' record.pk %}">{{record.title}}</a></h3>
        </div>
        <div class="user">{{record.user.username}}</div>
        <br>
        <div class="posted_at"></div>
        <div class="time">{{record.posted_at}}に投稿</div>
        <div class="category">カテゴリ:{{record.category}}</div>
        <div class="content">{{record.content|truncatechars:50|safe}}</div>
        <hr>
    {% endfor %}



{% include 'pagination.html' %}

{% endblock %}